{{- define "release" -}}
  <mj-text>
    <strong>{{ .repository.name }}</strong>
    new version for pattern <pre style="display: inline; background-color: silver; padding: 2px; border-radius: 4px">{{ .pattern }}</pre> is
    <strong>
      {{- if eq .repository.kind 0.0 }}
        <a style="color: #5cb85c" target="_blank" rel="noopener noreferrer" href="https://github.com/{{ .repository.name }}/releases/tag/{{ .version.name }}">{{ .version.name }}</a>
      {{ else }}
        <span style="color: #5cb85c">{{ .version.name }}</a>
      {{- end }}
    </strong>
  </mj-text>
{{- end -}}

<mjml>
  <mj-body background-color="#e1e1e8">
    {{- template "header" "Ketchup" -}}

    <mj-section background-color="#ffffff">
      <mj-column>
        {{- range $index, $release := .releases -}}
          {{ template "release" $release }}
        {{- end -}}
      </mj-column>
    </mj-section>

    {{- template "footer" -}}
  </mj-body>
</mjml>
