{{ define "release" }}
  <mj-section full-width padding="0">
    <mj-column>
      <mj-table color="#c0c0c0">
        <tr>
          <td style="padding-right: 8px; width: 20px;">
            {{ if ne .updated 0.0 }}
              {{ if eq .updated 2.0 }}
                <img style="vertical-align: middle;" alt="Auto-update failed" title="Auto-update failed" width="20px" src="https://ketchup.vibioh.fr/images/update_success.png" />
              {{ else }}
                <img style="vertical-align: middle;" alt="Auto-update succeeded" title="Auto-update succeeded" width="20px" src="https://ketchup.vibioh.fr/images/update_failure.png" />
              {{ end }}
            {{ end }}
          </td>
          <td>
            {{ if eq .repository.kind "helm" }}
              <strong>{{ .repository.part }} @ </strong>
            {{ end }}

            <strong>{{ .repository.name }}</strong>
            new version for pattern <pre style="display: inline; margin: 0; padding: 0; border: 0">{{ .pattern }}</pre> is

            <strong>
              <a style="color: #6495ed" href="{{ .url }}">{{ .version.name }}</a>
            </strong>
          </td>
        </tr>
      </mj-table>
    </mj-column>
  </mj-section>
{{ end -}}

<mjml>
  <mj-body background-color="#3b3b3b">
    {{ template "header" "Ketchup" }}

    {{ $kind := "" }}

    {{ range $index, $release := .releases }}
      {{ if ne .repository.kind $kind }}
        <mj-section full-width background-color="#3b3b3b">
          <mj-column width="100%">
            {{ if eq .repository.kind "github" }}
              <mj-image alt="GitHub Logo" width="50px" src="https://ketchup.vibioh.fr/images/github.png" />
            {{ end }}
            {{ if eq .repository.kind "helm" }}
              <mj-image alt="Helm Logo" width="50px" src="https://ketchup.vibioh.fr/images/helm.png" />
            {{ end }}
            {{ if eq .repository.kind "docker" }}
              <mj-image alt="Docker Logo" width="50px" src="https://ketchup.vibioh.fr/images/docker.png" />
            {{ end }}
            {{ if eq .repository.kind "npm" }}
              <mj-image alt="NPM Logo" width="50px" src="https://ketchup.vibioh.fr/images/npm.png" />
            {{ end }}
            {{ if eq .repository.kind "pypi" }}
              <mj-image alt="Pypi Logo" width="50px" src="https://ketchup.vibioh.fr/images/pypi.png" />
            {{ end }}

            {{ $kind = .repository.kind }}
          {{ end }}
        </mj-column>
      </mj-section>

      {{ template "release" $release }}
    {{ end }}

    <mj-section />

    {{ template "footer" }}
  </mj-body>
</mjml>
