<mjml>
  <mj-body background-color="#272727">
    {{ template "header" "AlertManager" }}

    <mj-section background-color="#272727" padding="0">
      <mj-column>
        <mj-text color="#c0c0c0" align="center">
          <h1>
            {{ with.commonLabels.severity }}
              {{ if eq . "info" }}
                ℹ️
              {{ end }}
              {{ if eq . "warning" }}
                ⚠️
              {{ end }}
              {{ if eq . "critical" }}
                🚨
              {{ end }}
              {{ " " }}
            {{ end }}
            {{ .commonLabels.alertname }}
          </h1>

          <h2>
            {{ if eq .status "resolved" }}
              <span style="color: #32cd32;">Resolved</span>
            {{ else }}
              <span style="color: #fa8072;">Firing</span>
            {{ end }}
          </h2>
        </mj-text>

        {{ if .commonAnnotations.image }}
          <mj-image width="300px" src="{{ .commonAnnotations.image }}"></mj-image>
        {{ end }}

        {{ with .alerts }}
          {{ range $index, $alert := . }}
            {{ if gt $index 0 }}
              <mj-divider border-width="1px" border-style="dashed" border-color="#c0c0c0" />
            {{ end }}

            {{ with .annotations.description }}
              <mj-text color="#c0c0c0">{{ . }}</mj-text>
            {{ end }}
          {{ end }}
        {{ end }}

        <mj-spacer height="20px"></mj-spacer>
      </mj-column>
    </mj-section>

    {{ template "footer" }}
  </mj-body>
</mjml>
