<mjml>
  <mj-body background-color="#e1e1e8">
    {{- template "header" "AlertManager" -}}

    <mj-section background-color="#ffffff" padding="0">
      <mj-column>
        <mj-text align="center">
          <h1>
            {{ .commonLabels.alertname }}
          </h1>

          <h2>
            {{- if eq .status "resolved" -}}
              <span style="color: #4cae4c;">Resolved</span>
            {{- else -}}
              <span style="color: #ff6347;">Firing</span>
            {{- end -}}
          </h2>
        </mj-text>

        {{ if .commonAnnotations.summary }}
          <mj-text>{{ .commonAnnotations.summary }}</mj-text>
        {{ end }}

        {{ if .commonAnnotations.description }}
          <mj-text>{{ .commonAnnotations.description }}</mj-text>
        {{ end }}

        {{ if .commonAnnotations.image }}
          <mj-image width="300px" src="{{ .commonAnnotations.image }}"></mj-image>
        {{ end }}

        <mj-text align="center">
          <a href="{{ .externalURL }}" rel="noopener noreferrer" target="_blank">Go to alertmanager for more details</a>
        </mj-text>

        <mj-spacer height="20px"></mj-spacer>
      </mj-column>
    </mj-section>

    {{- template "footer" -}}
  </mj-body>
</mjml>
