{{- define "funds" -}}
  <mj-table color="#c0c0c0">
    <tr>
      <th scope="col" width="140px">ISIN</th>
      <th scope="col">Libellé</th>
      <th scope="col" width="80px">Score</th>
    </tr>

    {{- range $index, $fund := . -}}
      <tr {{- if odd $index }} style="background-color: #272727"{{- end -}}>
        <th scope="row" align="center">
          <a style="color: #6495ed" href="https://funds.vibioh.fr/?isin={{ $fund.isin }}">{{- $fund.isin -}}</a>
        </th>
        <td>{{- $fund.label -}}</td>
        <td align="center">{{ $fund.score }}</td>
      </tr>
    {{- end -}}
  </mj-table>
{{- end -}}

<mjml>
  <mj-body background-color="#3b3b3b">
    {{- template "header" "Funds" -}}

    <mj-section background-color="#3b3b3b">
      <mj-column>
        <mj-text color="#c0c0c0">Bonjour,</mj-text>

        {{- if len .aboveFunds -}}
          <mj-text color="#32cd32">Les fonds suivants viennent de dépasser le score de <strong>{{- .score -}}</strong>.</mj-text>
          {{- template "funds" .aboveFunds -}}
        {{- end -}}

        {{- if len .belowFunds -}}
          <mj-text color="#fa8072">Les fonds suivants viennent de repasser sous leur seuil initial d'alerte.</mj-text>
          {{ template "funds" .belowFunds -}}
        {{- end -}}

        <mj-text color="#c0c0c0">Pour plus d'informations, n'hésitez pas à consulter <a style="color: #6495ed" href="https://funds.vibioh.fr/?o=score">notre site</a></mj-text>

        <mj-text color="#c0c0c0">
            Bonne journée,
            <br />
            A bientôt,
        </mj-text>
      </mj-column>
    </mj-section>

    {{- template "footer" -}}
  </mj-body>
</mjml>
