<mjml>
  <mj-body background-color="#3b3b3b">
    {{ template "header" "SSH Monitoring" }}

    <mj-section background-color="#3b3b3b" padding="0">
      <mj-column>
        <mj-text color="#c0c0c0" align="center">
          <h1>
            Someone logged on <strong>{{ .host }}</strong>
          </h1>
          <p>
            at {{ .ts }}
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#3b3b3b" padding="10">
      <mj-column>
        {{ range $key, $value := .env }}
          <mj-text color="#c0c0c0" padding="0" font-size="10px" font-family="Courier new">
            {{ $key }}: {{ $value }}
          </mj-text>
        {{ end }}
      </mj-column>
    </mj-section>

    {{ template "footer" }}
  </mj-body>
</mjml>
