<mjml>
  <mj-body background-color="#272727">
    {{ template "header" "Hello" }}

    <mj-section background-color="#272727">
      <mj-column>
        <mj-text color="#c0c0c0">Hello {{ .Name }} !</mj-text>
      </mj-column>
    </mj-section>

    {{ template "footer" }}
  </mj-body>
</mjml>
